.search-movies-container {
  background: rgba(24, 24, 24, 1);
  min-height: 100vh;
}

.search-movies-movies-main-container {
  padding-left: 10%;
  padding-right: 10%;
}

.search-movies-loader-retry-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.search-no-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-no-results-container-message {
  font-family: 'Hanken Grotesk', sans-serif;
  color: #ffffff;
}

.search-retry-button {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Hanken Grotesk', sans-serif;
  border-radius: 5px;
  padding: 5px;
  border: none;
  outline: none;
  width: 100px;
  height: 35px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .search-failure-img {
    height: 250px;
    width: 280px;
    display: flex;
  }

  .search-retry-button {
    font-size: 16px;
  }
  .search-failure-img {
    height: 172px;
    width: 233px;
    align-self: center;
  }
}

.search-movies-loader-retry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.search-no-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-failure-img {
  height: 220px;
  width: 300px;
  align-self: center;
}

.search-no-results-container-message {
  font-family: 'Hanken Grotesk', sans-serif;
  color: #ffffff;
}

.search-retry-button {
  background-color: #ffffff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 35px;
  align-self: center;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 500;
}
